
<ion-header>
  <ion-toolbar>
    <ion-title>
        Ionic- cordova Geolocalizacion
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding">
    <ion-button (click)="getCurrentCoordinates()" expand="block">
     Obtener Localizacion
    </ion-button>
  <ion-list>
    <ion-list-header>
      <ion-label>Coordenadas</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>
        Latitud
      </ion-label>
      <ion-badge color="danger" slot="end">{{latitude}}</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>
        Longitud
      </ion-label>
      <ion-badge color="danger" slot="end">{{longitude}}</ion-badge>
    </ion-item>
    </ion-list>    
  </div>
</ion-content>